body{
    background-color: black;
    color: lightcyan;
    font-size: 28px;
    font-family: 'Inconsolata';
	font-weight: 700;
}

#container
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#bord
{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#hanging
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alfabet
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.lettre
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.lettre:hover
{
    background-color: #222222;
    color: white;
    border: 3px solid #ffffff;
}

.reset
{
    color: #33BBFF;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover
{
    color: azure;
}
